EXPO_PUBLIC_SUPABASE_URL=https://fqlaxmeqyrwqhtjkapxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxbGF4bWVxeXJ3cWh0amthcHh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY0MzY1OTYsImV4cCI6MjEwMjAxMjU5Nn0.NwpaubA5kLHzMaYQNiKu_6TeYwo6qOyEm9KirUJxnk4